<section id="about-me">
  <h3>About Me</h3>
  <p>
    I'm 30, live in Milwaukee Wisconsin and was most recently employed at
    Northwestern Mutual as a full-stack developer.  I try very hard to keep busy
    with personal projects as a means to learn new tools and become a better
    programmer.  Outside of that I enjoy a good beer, foosball and&nbsp;skiing.
  </p>

  <h4>What I'm looking for in a&nbsp;position</h4>
  <p>
    I'm looking both for technical freedom and the opportunity to contribute to
    a product I can be proud of.  I hold a high standard for the products I work
    on, from how the website is hosted and deployed down to the end user
    experience.  Solving the gamut of issues presented by a product is something
    I really enjoy and so I hope to take on that responsibility in my
    next&nbsp;position.
  </p>
</section>
