<header>
  <h1>Hello,</h1>
  <img src="img/profile.png" alt="profile picture">
  <h3>My name is Phil and I enjoy developing for the web</h3>

  <p>
    This site is an informal supplement to my resume emphasizing personal projects.
  </p>

  <nav>
    <ol>
      <li><a href="#about-me">About Me</a></li><!--
      --><li><a href="#my-stack">My Stack</a></li><!--
      --><li><a href="#side-projects">Side Projects</a></li>
    </ol>
  </nav>
</header>
