<!DOCTYPE html>
<html>
  <head>
    <title>A Sample CRUD Front-End</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="css/index.css">
  </head>

  <body>
    <div class="site-container">
      {% import '../macros/global.njk' as gm %}

      {% block content %}{% endblock %}
    </div>

    {% include 'partials/footer.njk' %}

    {% if isDev %}
      <script src="//localhost:35729/livereload.js"></script>
    {% endif %}
    <script src="js/index.js"></script>
  </body>

</html>
