{% extends "layouts/base.njk" %}

{% block content %}

  {% include 'partials/header.njk' %}

  <main>
    {% include "partials/about-me.njk" %}
    {% include "partials/my-stack.njk" %}
    {% include "partials/side-projects.njk" %}
  </main>

{% endblock %}
