@font-face{
	font-family: ScopeOne;
	font-weight: 400;
	src: url(../fonts/scope-one.regular.woff) format("woff");
}

@font-face{
	font-family: 'Open Sans';
	font-weight: 400;
	src: url(../fonts/open-sans.regular.woff) format("woff");
}
@font-face{
	font-family: 'Open Sans';
	font-weight: 700;
	src: url(../fonts/open-sans.bold.woff) format("woff");
}
@font-face{
	font-family: 'Open Sans';
	font-weight: 400;
  font-style: italic;
	src: url(../fonts/open-sans.italic.woff) format("woff");
}
