html, body {
  background: $bg;
  color: $fg;
  font-family: 'Open Sans', sans-serif;
  html, body {
    font-size: $font-base;
  }
}

h1, h2, h3, h4 {
  font-family: ScopeOne, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, button {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, li {
  line-height: 1;
}

button {
  border: 0;
  outline: none !important;
  background: none;
  border-image-width: 0;
  font-size: 0;
}

p {
  line-height: 1.3;
}

h1 {
  font-size: $font-h1;
}
h2 {
  font-size: $font-xl;
}
h3 {
  font-size: $font-lg;
}
h4 {
  font-size: $font-md;
}
h5 {
  font-size: $font-sm;
  margin-bottom: $xxs;
}

a {
  color: $link;
  text-decoration: none;
}

p.note {
  font-style: italic;
}

p, dd, dt {
  @include per-size('font-size', $font-xs, $font-xs, $font-base, $font-base, $font-base);
}

ul:not(.normal-list), ol:not(.normal-list) {
  list-style: none;
}

.site-container {
  margin: 0 auto;
  max-width: $site-width;

  @include per-size(('padding-left', 'padding-right'), $xs, $xs, $sm, $md, $lg);
}

main > section {
  @include per-size('margin-top', $md, $md, $lg, $lg, $lg);

  h3 {
    color: $accent;
    @include per-size('font-size', $font-lg, $font-lg, $font-xl, $font-xl, $font-xl);
    margin-bottom: $xs;
  }

  h4 {
    margin-top: $sm;
  }
  h5 {
    margin-top: $xs;
  }
  p + p {
    margin-top: $xxs;
  }
  p + ul {
    margin-top: $xs;
  }

  h4 {
    margin-bottom: $xxs;

    &:before {
      content: " - ";
    }
  }
}

button.expander > svg {
  height: $project-height;
  width: $project-height;
}
