//--------//
// Colors //
//--------//

$bg: white;
$bg-off: #e9e9e9;
$fg: #131313;
$link: #2457B0;
$link-hover: #4D84E8;
$accent: #a32500;

$application: #19610d;
$application-bg: fade_out(#1ABD00, 0.7);
$tool: #F0A300;
$tool-bg: fade_out($tool, 0.7);
$library: #84008A;
$library-bg: fade_out($library, 0.85);


//-------//
// Sizes //
//-------//

$site-width: 1100px;
$font-base: 18px;

// general purpose element spacing

$xl: ($font-base * 4);
$lg: ($font-base * 3);
$md: ($font-base * 2);
$sm: $font-base + ($font-base / 2);
$xs: $font-base;
$xxs: ($font-base / 2);


// font-sizes

$font-h1: 48px;
$font-xl: 32px;
$font-lg: 26px;
$font-md: 23px;
$font-sm: 20px;
$font-xs: 16px;
$font-xxs: 14px;


// slightly modified from bootstrap
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xxs-max: ($screen-xs-min - 1);
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);


// context-specific

$project-height: $xxs + $xxs + $font-md;
