<section id="about-me">
  <h3>About Me</h3>
  <p>
    I'm 28 and currently a senior front end developer at American Family
    Insurance.  As you'll see in my personal projects however, I am familiar
    with full-stack development and keep up to date with emerging technologies
    to ensure my stack stays fresh.
  </p>
  <h4>Full stack?  But you're a front end developer!</h4>
  <p>
    Yes but my career prior to American Family Insurance was was backend.  I
    wanted a change of pace, took time off to learn front end and here I am.
  </p>
  <h4>What I'm looking for in a position</h4>
  <p>
    I'm looking for the technical freedom to solve the problems holding us
    back.  For example, if an insufficient build process is causing bugs, then
    we need to fix it.  Allowing otherwise only causes unnecessary headaches
    for both the clients and developers.
  </p>
</section>
