<section id="my-stack">
  <h3>My Stack</h3>
  <h4>Front end</h4>
  <p>
    Gulp, Webpack, Babel, Sass, Postcss, Livereload, Lodash, Angular, and a healthy dose of linters, minifiers, and source-mapping plugins.
  </p>
  <h4>Backed by</h4>
  <p>The most recent version of node for es6, http2, koa, nunjucks, and bluebird.</p>
  <h4>Testing</h4>
  <p>Mocha/chai using the bdd and 'should' flavor of writing tests.</p>
  <h4>Persistence</h4>
  <p>
    Sqlite, postgres, and mssql.
  </p>
  <h4>Preferred OS</h4>
  <p>
    Linux, but OSX works well too.
  </p>
  <h4>Hosting</h4>
  <p>
    Digital Ocean
  </p>
</section>
