<header>
  <p class="hello">Hello,</p>
  <img srcset="images/profile.avif, images/profile.png" alt="profile picture">
  <h1>My name is Phil and I enjoy developing for the web</h3>

  <p class="note">
    This site is an informal supplement to my resume emphasizing personal projects.
  </p>

  <nav class="main-nav">
    <ol>
      <li><a href="#about-me">About Me</a></li><!--
      --><li><a href="#my-stack">My Stack</a></li><!--
      --><li><a href="#side-projects">Side Projects</a></li>
    </ol>
  </nav>
</header>
