<section id="my-stack">
  <h2>My Stack</h2>

  <h3>Front end</h3>
  <p>
    react, next.js, vue, angular, webpack, babel, sass, postcss, lodash, ramda,
    axios, velocity, prettier, terser and plenty others
  </p>

  <h3>Backed by</h3>
  <p>
    the most recent version of node via nvm, next.js, vue&nbsp;ssr, koa, any
    flavor of sql, redis, mongodb and couchdb
  </p>

  <h3>Testing</h3>
  <p>mocha, chai, jest</p>
  <p class="sidenote">
    My experience with testing is unit and backend integration tests - I haven't
    spent the time to learn e2e and only briefly worked with jest for the
    frontend.  I would enjoy the opportunity to learn more of these&nbsp;tools.
  </p>

  <h3>Preferred OS</h3>
  <p>
    Any flavor of linux.&nbsp; osx is linux'y enough to rate a distant second.
  </p>

  <h3>Hosting</h3>
  <p>
    mostly digital ocean
  </p>
</section>
