<section id="my-stack">
  <h3>My Stack</h3>

  <h4>Front end</h4>
  <p>
    webpack, babel, sass, postcss, lodash, ramda, angular, vue, react, axios,
    domtastic, velocity, prettier and terser (to name a few)
  </p>

  <h4>Backed by</h4>
  <p>
    the most recent version of node via nvm, koa and vue&nbsp;ssr.
  </p>

  <h4>Testing</h4>
  <p>mocha/chai using the bdd and 'should' flavor of writing&nbsp;tests.</p>
  <p class="sidenote">
    Admittedly my experience with testing is unit and backend integration tests
    - I haven't spent the time to learn e2e and only briefly worked with jest
    for the frontend.  I would enjoy the opportunity to learn more of
    these&nbsp;tools.
  </p>

  <h4>Persistence</h4>
  <p>
    sqlite, couchdb, mssql and postgres.
  </p>

  <h4>Preferred OS</h4>
  <p>
    Any flavor of linux.&nbsp; osx is linux'y enough to rate a distant second.
  </p>

  <h4>Hosting</h4>
  <p>
    digital ocean
  </p>
</section>
