footer {
  @include per-size(('height', 'line-height'), 80, 80, 110, 110, 110, 'px');
  @include per-size('margin-top', $md, $md, $lg, $lg, $lg);
  background-color: $footer-color;
  color: $bg;
  text-align: center;

  .email {
    @include per-size(('margin-right'), 20, 20, 30, 30, 30, 'px');
    @include per-size(
      'font-size',
      $font-xxs,
      $font-xxs,
      $font-xs,
      $font-xs,
      $font-xs
    );

    display: inline-block;
    vertical-align: top;
  }

  .octicon {
    @include per-size('height', 50, 50, 70, 70, 70, 'px');
    @include per-size(
      ('margin-top', 'margin-bottom'),
      10,
      10,
      15,
      15,
      15,
      'px'
    );

    display: inline-block;
    vertical-align: middle;

    // not sure why, but firefox is cutting off the left edge of the svg by a
    //   pixel and this mends it
    padding-left: 1px;

    path {
      fill: $bg;
    }
  }
}
