header {
  @include per-size('margin-top', $sm, $sm, $md, $lg, $xl);
  text-align: center;

  h1 {
    margin-bottom: $xs;
  }

  img {
    @include per-size('height', '180', '180', '180', '220', '220', 'px');
    margin-bottom: $xs;
  }

  h3 {
    @include per-size('margin-bottom', $sm, $sm, $md, $md, $md);
  }

  p {
    @include per-size('margin-bottom', $sm, $sm, $md, $md, $md);
    font-style: italic;

    @include per-size(
      'font-size',
      $font-xxs,
      $font-xs,
      $font-base,
      $font-base,
      $font-base
    );
  }
}
