header {
  @include per-size('margin-top', $sm, $sm, $md, $lg, $xl);
  text-align: center;

  .hello {
    font-family: ScopeOne, serif;
    font-size: $font-h1;
    margin-bottom: $xs;
  }

  img {
    @include per-size('height', '180', '180', '180', '220', '220', 'px');
    margin-bottom: $xs;
  }

  h1 {
    @include per-size('margin-bottom', $sm, $sm, $md, $md, $md);
    font-size: $font-lg;
  }

  p.note {
    @include per-size('margin-bottom', $sm, $sm, $md, $md, $md);

    @include per-size(
      'font-size',
      $font-xxs,
      $font-xs,
      $font-base,
      $font-base,
      $font-base
    );
  }
}
