/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0; }

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block; }

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px; }

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
     * Add the correct display in IE.
     */
main {
  display: block; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit; }

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder; }

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic; }

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000; }

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%; }

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block; }

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none; }

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden; }

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible; }

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none; }

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */ }
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0; }
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText; }

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible; }

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */ }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto; }

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block; }

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item; }

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block; }

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block; }

/**
     * Add the correct display in IE.
     */
template {
  display: none; }

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none; }

@font-face {
  font-family: ScopeOne;
  font-weight: 400;
  src: url(c7fda34e17130319b02eb27af0c04cc2.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: url(d0bad741aefb909e4be56d188b6f02b9.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  src: url(4b52a816817a711e6971955c835ecfbb.woff) format("woff"); }

html,
body {
  background: white;
  color: #131313;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  body > .site-container {
    flex-grow: 1; }

h1,
h2,
h3,
h4 {
  font-family: ScopeOne, serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
button {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
li {
  line-height: 1; }

button {
  border: 0;
  outline: none !important;
  background: none;
  border-image-width: 0;
  font-size: 0; }

p {
  line-height: 1.3; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 23px; }

h5 {
  font-size: 20px;
  margin-bottom: 9px; }

a {
  color: #2457b0;
  text-decoration: none; }

p.note {
  font-style: italic; }

@media (max-width: 479px) {
  p,
  dd,
  dt {
    font-size: 16px; } }

@media (min-width: 480px) and (max-width: 767px) {
  p,
  dd,
  dt {
    font-size: 16px; } }

@media (min-width: 768px) and (max-width: 991px) {
  p,
  dd,
  dt {
    font-size: 18px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  p,
  dd,
  dt {
    font-size: 18px; } }

@media (min-width: 1200px) {
  p,
  dd,
  dt {
    font-size: 18px; } }

ul:not(.normal-list),
ol:not(.normal-list) {
  list-style: none; }

.site-container {
  margin: 0 auto;
  max-width: 1100px; }
  @media (max-width: 479px) {
    .site-container {
      padding-left: 18px;
      padding-right: 18px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    .site-container {
      padding-left: 18px;
      padding-right: 18px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .site-container {
      padding-left: 27px;
      padding-right: 27px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .site-container {
      padding-left: 36px;
      padding-right: 36px; } }
  @media (min-width: 1200px) {
    .site-container {
      padding-left: 54px;
      padding-right: 54px; } }

@media (max-width: 479px) {
  main > section {
    margin-top: 36px; } }

@media (min-width: 480px) and (max-width: 767px) {
  main > section {
    margin-top: 36px; } }

@media (min-width: 768px) and (max-width: 991px) {
  main > section {
    margin-top: 54px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  main > section {
    margin-top: 54px; } }

@media (min-width: 1200px) {
  main > section {
    margin-top: 54px; } }

main > section h3 {
  color: #a32500;
  margin-bottom: 18px; }
  @media (max-width: 479px) {
    main > section h3 {
      font-size: 26px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    main > section h3 {
      font-size: 26px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    main > section h3 {
      font-size: 32px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    main > section h3 {
      font-size: 32px; } }
  @media (min-width: 1200px) {
    main > section h3 {
      font-size: 32px; } }

main > section h4 {
  margin-top: 27px; }

main > section h5 {
  margin-top: 18px; }

main > section p + p {
  margin-top: 9px; }

main > section p + ul {
  margin-top: 18px; }

main > section h4 {
  margin-bottom: 9px; }
  main > section h4:before {
    content: ' - '; }

button.expander > svg {
  height: 41px;
  width: 41px; }

.sidenote {
  font-style: italic; }

button {
  -webkit-tap-highlight-color: transparent; }

footer {
  background-color: #303030;
  color: white;
  text-align: center; }
  @media (max-width: 479px) {
    footer {
      height: 80px;
      line-height: 80px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    footer {
      height: 80px;
      line-height: 80px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    footer {
      height: 110px;
      line-height: 110px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    footer {
      height: 110px;
      line-height: 110px; } }
  @media (min-width: 1200px) {
    footer {
      height: 110px;
      line-height: 110px; } }
  @media (max-width: 479px) {
    footer {
      margin-top: 36px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    footer {
      margin-top: 36px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    footer {
      margin-top: 54px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    footer {
      margin-top: 54px; } }
  @media (min-width: 1200px) {
    footer {
      margin-top: 54px; } }
  footer .email {
    vertical-align: middle; }
    @media (max-width: 479px) {
      footer .email {
        margin-right: 20px; } }
    @media (min-width: 480px) and (max-width: 767px) {
      footer .email {
        margin-right: 20px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      footer .email {
        margin-right: 30px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      footer .email {
        margin-right: 30px; } }
    @media (min-width: 1200px) {
      footer .email {
        margin-right: 30px; } }
    @media (max-width: 479px) {
      footer .email {
        font-size: 15px; } }
    @media (min-width: 480px) and (max-width: 767px) {
      footer .email {
        font-size: 15px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      footer .email {
        font-size: 16px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      footer .email {
        font-size: 16px; } }
    @media (min-width: 1200px) {
      footer .email {
        font-size: 16px; } }
  footer .octicon {
    vertical-align: middle; }
    @media (max-width: 479px) {
      footer .octicon {
        height: 50px; } }
    @media (min-width: 480px) and (max-width: 767px) {
      footer .octicon {
        height: 50px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      footer .octicon {
        height: 70px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      footer .octicon {
        height: 70px; } }
    @media (min-width: 1200px) {
      footer .octicon {
        height: 70px; } }
    @media (max-width: 479px) {
      footer .octicon {
        margin-top: 10px;
        margin-bottom: 10px; } }
    @media (min-width: 480px) and (max-width: 767px) {
      footer .octicon {
        margin-top: 10px;
        margin-bottom: 10px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      footer .octicon {
        margin-top: 15px;
        margin-bottom: 15px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      footer .octicon {
        margin-top: 15px;
        margin-bottom: 15px; } }
    @media (min-width: 1200px) {
      footer .octicon {
        margin-top: 15px;
        margin-bottom: 15px; } }
    footer .octicon path {
      fill: white; }

header {
  text-align: center; }
  @media (max-width: 479px) {
    header {
      margin-top: 27px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    header {
      margin-top: 27px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    header {
      margin-top: 36px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    header {
      margin-top: 54px; } }
  @media (min-width: 1200px) {
    header {
      margin-top: 63px; } }
  header h1 {
    margin-bottom: 18px; }
  header img {
    margin-bottom: 18px; }
    @media (max-width: 479px) {
      header img {
        height: 180px; } }
    @media (min-width: 480px) and (max-width: 767px) {
      header img {
        height: 180px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      header img {
        height: 180px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      header img {
        height: 220px; } }
    @media (min-width: 1200px) {
      header img {
        height: 220px; } }
  @media (max-width: 479px) {
    header h3 {
      margin-bottom: 27px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    header h3 {
      margin-bottom: 27px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    header h3 {
      margin-bottom: 36px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    header h3 {
      margin-bottom: 36px; } }
  @media (min-width: 1200px) {
    header h3 {
      margin-bottom: 36px; } }
  header p {
    font-style: italic; }
    @media (max-width: 479px) {
      header p {
        margin-bottom: 27px; } }
    @media (min-width: 480px) and (max-width: 767px) {
      header p {
        margin-bottom: 27px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      header p {
        margin-bottom: 36px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      header p {
        margin-bottom: 36px; } }
    @media (min-width: 1200px) {
      header p {
        margin-bottom: 36px; } }
    @media (max-width: 479px) {
      header p {
        font-size: 15px; } }
    @media (min-width: 480px) and (max-width: 767px) {
      header p {
        font-size: 16px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      header p {
        font-size: 18px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      header p {
        font-size: 18px; } }
    @media (min-width: 1200px) {
      header p {
        font-size: 18px; } }
  header nav {
    font-family: ScopeOne, serif; }
    @media (max-width: 479px) {
      header nav {
        font-size: 26px; } }
    @media (min-width: 480px) and (max-width: 767px) {
      header nav {
        font-size: 26px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      header nav {
        font-size: 32px; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      header nav {
        font-size: 32px; } }
    @media (min-width: 1200px) {
      header nav {
        font-size: 32px; } }
    @media (max-width: 991px) {
      header nav li + li {
        margin-top: 18px; } }
    @media (min-width: 992px) {
      header nav li {
        display: inline-block; }
      header nav li + li:before {
        content: "/"; } }
  @media (min-width: 992px) and (max-width: 479px) {
    header nav li + li:before {
      margin-left: 9px;
      margin-right: 9px; } }
  @media (min-width: 992px) and (min-width: 480px) and (max-width: 767px) {
    header nav li + li:before {
      margin-left: 18px;
      margin-right: 18px; } }
  @media (min-width: 992px) and (min-width: 768px) and (max-width: 991px) {
    header nav li + li:before {
      margin-left: 18px;
      margin-right: 18px; } }
  @media (min-width: 992px) and (min-width: 992px) and (max-width: 1199px) {
    header nav li + li:before {
      margin-left: 27px;
      margin-right: 27px; } }
  @media (min-width: 992px) and (min-width: 1200px) {
    header nav li + li:before {
      margin-left: 27px;
      margin-right: 27px; } }

#side-projects h4 {
  margin-bottom: 18px; }

#side-projects ul.legend > li + li {
  margin-top: 9px; }

#side-projects > ul:not(.legend) > li + li {
  margin-top: 27px; }

#side-projects .application,
#side-projects .tool,
#side-projects .library {
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 0;
  border-left-style: solid;
  padding-top: 9px;
  padding-bottom: 9px;
  display: inline-block;
  position: relative; }
  @media (max-width: 479px) {
    #side-projects .application,
    #side-projects .tool,
    #side-projects .library {
      padding-left: 9px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    #side-projects .application,
    #side-projects .tool,
    #side-projects .library {
      padding-left: 36px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #side-projects .application,
    #side-projects .tool,
    #side-projects .library {
      padding-left: 36px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #side-projects .application,
    #side-projects .tool,
    #side-projects .library {
      padding-left: 54px; } }
  @media (min-width: 1200px) {
    #side-projects .application,
    #side-projects .tool,
    #side-projects .library {
      padding-left: 54px; } }
  @media (max-width: 479px) {
    #side-projects .application,
    #side-projects .tool,
    #side-projects .library {
      padding-right: 9px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    #side-projects .application,
    #side-projects .tool,
    #side-projects .library {
      padding-right: 45px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #side-projects .application,
    #side-projects .tool,
    #side-projects .library {
      padding-right: 45px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #side-projects .application,
    #side-projects .tool,
    #side-projects .library {
      padding-right: 63px; } }
  @media (min-width: 1200px) {
    #side-projects .application,
    #side-projects .tool,
    #side-projects .library {
      padding-right: 63px; } }
  @media (max-width: 479px) {
    #side-projects .application,
    #side-projects .tool,
    #side-projects .library {
      border-left-width: 2px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    #side-projects .application,
    #side-projects .tool,
    #side-projects .library {
      border-left-width: 2px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #side-projects .application,
    #side-projects .tool,
    #side-projects .library {
      border-left-width: 3px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #side-projects .application,
    #side-projects .tool,
    #side-projects .library {
      border-left-width: 3px; } }
  @media (min-width: 1200px) {
    #side-projects .application,
    #side-projects .tool,
    #side-projects .library {
      border-left-width: 3px; } }
  #side-projects .application:before,
  #side-projects .tool:before,
  #side-projects .library:before {
    content: none; }
  @media (min-width: 480px) {
    #side-projects .application:after,
    #side-projects .tool:after,
    #side-projects .library:after {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border-top: 20.5px solid transparent;
      border-bottom: 20.5px solid transparent;
      border-right: 9px solid white; } }

#side-projects .application {
  border-left-color: #19610d;
  background-color: rgba(26, 189, 0, 0.3); }
  #side-projects .application + button {
    cursor: pointer; }
    #side-projects .application + button svg path {
      fill: #19610d; }

#side-projects .tool {
  border-left-color: #f0a300;
  background-color: rgba(240, 163, 0, 0.3); }
  #side-projects .tool + button {
    cursor: pointer; }
    #side-projects .tool + button svg path {
      fill: #f0a300; }

#side-projects .library {
  border-left-color: #84008a;
  background-color: rgba(132, 0, 138, 0.15); }
  #side-projects .library + button {
    cursor: pointer; }
    #side-projects .library + button svg path {
      fill: #84008a; }

@media (max-width: 479px) {
  #side-projects button {
    margin-left: 18px; } }

@media (min-width: 480px) and (max-width: 767px) {
  #side-projects button {
    margin-left: 27px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #side-projects button {
    margin-left: 27px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  #side-projects button {
    margin-left: 36px; } }

@media (min-width: 1200px) {
  #side-projects button {
    margin-left: 36px; } }

#side-projects .content {
  height: 0;
  overflow: hidden; }
  @media (max-width: 479px) {
    #side-projects .content {
      margin-left: 9px; } }
  @media (min-width: 480px) and (max-width: 767px) {
    #side-projects .content {
      margin-left: 9px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #side-projects .content {
      margin-left: 18px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    #side-projects .content {
      margin-left: 18px; } }
  @media (min-width: 1200px) {
    #side-projects .content {
      margin-left: 18px; } }
  #side-projects .content > a {
    display: block; }
    #side-projects .content > a:first-child {
      margin-top: 18px; }
    #side-projects .content > a:not(:first-child) {
      margin-top: 9px; }

@media (max-width: 479px) {
  #side-projects dd + dt {
    margin-top: 9px; } }

@media (min-width: 480px) and (max-width: 767px) {
  #side-projects dd + dt {
    margin-top: 9px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #side-projects dd + dt {
    margin-top: 18px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  #side-projects dd + dt {
    margin-top: 18px; } }

@media (min-width: 1200px) {
  #side-projects dd + dt {
    margin-top: 18px; } }

#side-projects dt:before {
  content: '- '; }

@media (max-width: 479px) {
  #side-projects dd {
    margin-top: 3px; } }

@media (min-width: 480px) and (max-width: 767px) {
  #side-projects dd {
    margin-top: 3px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #side-projects dd {
    margin-top: 4px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  #side-projects dd {
    margin-top: 4px; } }

@media (min-width: 1200px) {
  #side-projects dd {
    margin-top: 5px; } }

@media (max-width: 479px) {
  #side-projects dd {
    margin-left: 18px; } }

@media (min-width: 480px) and (max-width: 767px) {
  #side-projects dd {
    margin-left: 18px; } }

@media (min-width: 768px) and (max-width: 991px) {
  #side-projects dd {
    margin-left: 18px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  #side-projects dd {
    margin-left: 27px; } }

@media (min-width: 1200px) {
  #side-projects dd {
    margin-left: 27px; } }


/*# sourceMappingURL=main.21fe85f832d6fb0e113c.css.map*/